/*
 *Page name
 *Copyright 2023
 *Author Boris Hu
*/
/*------------------*\
    Content
\*------------------*/
/**
 *Content ...........You are reading it!
 *Global  ...........Set Common Styles
 *Layout  ...........Set Grid
 *Component .........Set Component Styles
 */
/*------------------*\
    Global
\*------------------*/
html,
body {
  font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/*------------------*\
    Layout
\*------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.row {
  margin: 0 -16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col1-lg,
.col2-lg,
.col3-lg,
.col4-lg {
  padding-right: 16px;
  padding-left: 16px;
}

.col1-lg {
  width: 100%;
}

.col2-lg {
  width: 50%;
}

.col3-lg {
  width: 30%;
}

.col4-lg {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .col1-md {
    width: 100%;
  }
  .col2-md {
    width: 50%;
  }
  .col3-md {
    width: 33.333333%;
  }
  .col4-md {
    width: 25%;
  }
}

@media screen and (max-width: 540px) {
  .col1-sm {
    width: 100%;
  }
  .col2-sm {
    width: 50%;
  }
  .col3-sm {
    width: 33.333333%;
  }
  .col4-sm {
    width: 25%;
  }
}

/*------------------*\
    Components
\*------------------*/
.img-container {
  width: 100%;
}

.img-container::before {
  content: '';
  display: block;
  padding-top: 100%;
  width: 100%;
}

.img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.hero-bg-white {
  background-color: #fefefe;
}

.hero-bg-grey {
  background-color: #efefef;
}

.section-intro {
  width: 30%;
  margin: auto;
  margin-bottom: 48px;
}

.section-intro .title {
  font-size: 3rem;
  text-align: center;
}

.btn {
  border: none;
  background-color: #97faf0;
  color: #2d2d2d;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 84px;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn:hover {
  background-color: aqua;
  font-size: 1.8rem;
}

.mask-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

/*------------------*\
    Styles Sheet
\*------------------*/
.header {
  background-color: rgba(0, 0, 0, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header .navigation-bar {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation-bar .logo {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 64px;
  background-image: url("../src/common/logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header .navigation-bar .logo h1 {
  display: none;
}

.header .navigation-bar .logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header .navigation-bar .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation-bar .nav .nav-item {
  margin-left: 30px;
}

.header .navigation-bar .nav .nav-item .nav-link {
  line-height: 24px;
  padding: 20px 0px;
  color: white;
  font-weight: 600;
}

.header .navigation-bar .nav .nav-item .nav-link:hover {
  color: darkorange;
}

.header .navigation-bar .nav .nav-item .nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: darkorange;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header .navigation-bar .nav .nav-item .nav-link:hover::after {
  width: 100%;
}

#slider .left-mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

#slider .right-mask {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

#slider .slider-img {
  width: 100%;
}

#slider .slider-img img {
  width: 100%;
}

.shppoing-cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid silver;
  width: 20%;
  -webkit-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5);
  background-color: #f7f7f7;
  z-index: 100;
}

.shppoing-cart .cart-title {
  text-align: center;
  font-size: 2rem;
  color: dimgray;
  font-weight: 500;
  margin-bottom: 6px;
}

.shppoing-cart .cart-content {
  width: 80%;
  margin: auto;
}

.shppoing-cart .cart-content .img-container {
  margin-bottom: 12px;
}

.shppoing-cart .cart-content .img-container .img {
  background-image: url(../src/products/product008.jpg);
}

.shppoing-cart .cart-content .row {
  margin: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.shppoing-cart .cart-content .row .del-btn,
.shppoing-cart .cart-content .row .amount-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #ffaa5a;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

.shppoing-cart .cart-content .row .del-btn:hover {
  background-color: aqua;
}

.shppoing-cart .cart-content .row .choose-mount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shppoing-cart .cart-content .row .amount-btn {
  width: 30%;
  background-color: #fff;
}

.shppoing-cart .cart-content .total-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.shppoing-cart .cart-content .total-price h4 {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 800;
  padding-right: 16px;
  padding-left: 16px;
}

.shppoing-cart .cart-content .total-price .total-pay {
  text-align: center;
}

.shppoing-cart .cart-content hr {
  margin-bottom: 16px;
}

.shppoing-cart .cart-content .pay-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shppoing-cart .cart-content .pay-btn .sent-order {
  width: 50%;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: #ffaa5a;
}

.shppoing-cart:target {
  display: block;
}

.item-list-style {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-list-style .col2-lg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-list-style .col2-lg .search-input {
  width: 500px;
  height: 50px;
  font-size: 1.5rem;
  border: 3px solid darkgray;
  border-radius: 0.5rem;
}

.item-list-style .col2-lg .price-sort {
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  border: 3px solid burlywood;
  border-radius: 0.5rem;
  margin-left: 25%;
}

.item-list-style .col2-lg .show-item {
  width: 10%;
  height: 100%;
}

.item-list-style .col2-lg .show-item .square {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item-list-style .col2-lg .show-item .square span {
  width: 15px;
  height: 15px;
  background-color: #646464;
  position: absolute;
}

.item-list-style .col2-lg .show-item .square span:nth-child(1) {
  top: 6px;
  right: 0;
}

.item-list-style .col2-lg .show-item .square span:nth-child(2) {
  bottom: 6px;
  right: 0;
}

.item-list-style .col2-lg .show-item .square span:nth-child(3) {
  bottom: 6px;
  right: 20px;
}

.item-list-style .col2-lg .show-item .square span:nth-child(4) {
  top: 6px;
  right: 20px;
}

.item-list-style .col2-lg .show-item .rectangle {
  display: none;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  cursor: pointer;
}

.item-list-style .col2-lg .show-item .rectangle span {
  width: 35px;
  height: 5px;
  position: absolute;
  background-color: #646464;
}

.item-list-style .col2-lg .show-item .rectangle span:nth-child(1) {
  top: 10%;
}

.item-list-style .col2-lg .show-item .rectangle span:nth-child(2) {
  top: 40%;
}

.item-list-style .col2-lg .show-item .rectangle span:nth-child(3) {
  top: 70%;
}

.row .col3-lg {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 20px 16px;
  background-color: #fff;
  padding: 0;
}

.row .col3-lg .img {
  width: 100%;
  background-image: url(../src/products/product001.jpg);
}

.row .col3-lg .item-des {
  margin-top: 16px;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .col3-lg .item-des .product-price h2 {
  font-size: 2rem;
  color: #2d2d2d;
}

.row .col3-lg .item-des .product-price h3 {
  font-size: 1.8rem;
  color: burlywood;
}

.row .col3-lg .item-des .product-price p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 28px;
  margin-bottom: 16px;
}

.row .col3-lg .item-des .btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.row .col3-lg .item-des .btn-group .btn {
  width: 45%;
  text-align: center;
}

#about {
  background-image: url(../src/bg/bg002.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#about h1,
#about p {
  color: white;
}

#about .desc {
  margin-bottom: 32px;
}

#about .desc .about-desc {
  line-height: 32px;
  font-size: 1.4rem;
}

.contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info .subtitle {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.contact-info a {
  margin-bottom: 12px;
  line-height: 24px;
  font-weight: bolder;
}

.add-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  border-radius: 0.5rem;
  width: 400px;
  text-align: center;
  background-color: #00c601;
  font-size: 4rem;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  color: #ccc;
  text-align: center;
  line-height: 12px;
  padding: 16px 0;
  font-size: 14px;
}
