.customer-datas {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    .title {
        border-bottom: 3px solid gray;
        width: 100%;
        background-color: lightgrey;
        text-align: center;
        p {
            font-size: 2rem;
            margin: 1%;
        }
    }
    .fill-data {
        border: 12px soild black;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        font-size: 2rem;
        margin-top: 2%;
        input {
            margin-top: 1%;
            margin-bottom: 2%;
        }
        .selections {
            width: 100%;
            display: flex;
            justify-content: space-between;
            select {
                margin-top: 1%;
                width: 48%;
            }
        }
    }
}

.data-sent {
    display: block;
    width: 70%;
    padding: 1%;
    background-color: lightseagreen;
    border: none;
    color: white;
    font-size: 2rem;
    margin-top: 3%;
    margin: auto;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 0.5rem;
}
.data-sent:hover {
    overflow: hidden;
    color: cornflowerblue;
    background-color: blueviolet;
}
