// 購物車內容
.customer-cart {
    border: 3px solid lightblue;
    border-radius: 0.5rem;
    position: fixed;
    right: 0;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .shopping-cart {
        font-size: 2rem;
        text-align: center;
    }
    .shopping-cart-content {
        border: 1px solid black;
        width: 80%;
        background-color: cadetblue;
        border-radius: 0.5rem;
        img {
            width: 100%;
        }
        .product-desc {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .cart-product-price {
                font-size: 1.5rem;
                // border: 1px solid black;
                margin: 0;
            }
            .cart-calculate {
                font-size: 1.5rem;
                display: flex;
                // border: 1px solid black;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
            .delete-icon {
                background-color: yellow;
                display: block;
                position: absolute;
                top: 0%;
                right: 5%;
                font-size: 1.5rem;
            }
        }
    }
    .total-payment {
        font-size: 2rem;
    }
    .cart-pay {
        width: 40%;
        height: 4rem;
        border: none;
        background-color: dodgerblue;
        font-size: 2rem;
        color: white;
        font-style: italic;
        font-weight: bolder;
        border-radius: 0.5rem;
    }
    display: none;
}

// Slider樣式設定

.slider {
    img {
        width: 100%;
    }
}

// 介紹商品

.all-product,
.about-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2%;
    font-style: italic;
    hr {
        width: 15%;
    }
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 3% auto;
    input {
        width: 70%;
        height: 2rem;
        margin-right: 2%;
    }
    select {
        width: 10%;
        height: 2.5rem;
    }
}

// 商品卡片(直式)

.product-content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .product-item {
        cursor: pointer;
        background-color: antiquewhite;
        width: 25%;
        display: flex;
        flex-direction: column;
        border: 3px solid lightblue;
        border-radius: 0.5rem;
        align-items: center;
        text-align: center;
        img {
            width: 100%;
        }
        .product-name {
            margin: 0;
            p {
                font-size: 2rem;
                font-weight: 500;
            }
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .product-describe {
                width: 50%;
                p {
                    font-size: 1.5rem;
                    margin: 10%;
                }
            }
            .btn {
                width: 50%;
                button {
                    width: 100%;
                    margin: 5% 0;
                    font-size: 1.5rem;
                    cursor: pointer;
                    background: purple;
                    border: none;
                    color: white;
                }
            }
        }
    }
}

// 商品lightbox

.product-light-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    border: 5px solid black;
    background-color: lightgray;
    display: none;

    img {
        width: 100%;
        margin: auto;
    }

    .product-lightbox-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product-describtion {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 80%;
            p {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
        .buy-product {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .product-amount {
                display: flex;
                justify-content: space-between;
                font-size: 1.5rem;
            }
            .product-buy-btn {
                display: flex;
                flex-direction: column;
                .btn {
                    width: 10rem;
                    height: 3rem;
                    margin: 5% 0;
                    border: none;
                    background-color: cornflowerblue;
                    cursor: pointer;
                }
            }
        }
    }
}

// 關於我們介紹

.about-us {
    margin: 5% auto;
    width: 70%;
    hr {
        width: 50%;
    }
    .about-content {
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        // border: 1px solid red;
    }
}

hr {
    width: 100%;
    height: 5px;
}

// 聯絡方式 copyright

.footer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .footer-left {
        // border: 1px solid red;
        font-size: 1.5rem;
        text-align: center;
    }
    .footer-right {
        // border: 1px solid black;
        width: 50%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: chartreuse;
        cursor: pointer;
    }
}

.copyright {
    text-align: center;
}
