.payment-process {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.payment-process .cart,
.payment-process .customer-data,
.payment-process .order-data {
  background-color: white;
  font-size: 2rem;
  width: 12rem;
  height: 9rem;
  border: 3px solid lightgray;
  border-radius: 50rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  z-index: 1;
}

.payment-process .line {
  width: 70%;
  height: 0.2rem;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 15%;
}

div.order-content {
  margin: auto;
  margin-top: 3%;
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid gray;
}

div.order-content .title {
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}

div.order-content .title p {
  font-size: 2rem;
  margin: 1%;
}

div.order-content .top-bar {
  width: 80%;
  margin: -1% auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

div.order-content .top-bar p {
  font-size: 1.5rem;
}

div.order-content .top-bar .detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

div.order-content .top-bar .detail p {
  font-size: 1.5rem;
}

.product-card {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  margin: 1% 0;
  background-color: cornsilk;
}

.product-card .product-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card .product-img img {
  width: 35%;
}

.product-card .product-img p {
  font-size: 3rem;
  margin-left: 5%;
}

.product-card .product-data {
  width: 45%;
  margin-right: 7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card .product-data p {
  font-size: 2rem;
}

.product-card .product-data .amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.selections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.selections .deliver {
  margin-left: 14.8%;
  margin-top: 3%;
  width: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid gray;
}

.selections .deliver .title {
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 5%;
}

.selections .deliver .title p {
  font-size: 2rem;
  margin: 1%;
}

.selections .deliver .drop-list {
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.selections .deliver .drop-list select {
  width: 50%;
  margin: 3% 0;
}

.selections .order-detail {
  margin-left: 4.8%;
  margin-top: 3%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid gray;
}

.selections .order-detail .title {
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 5%;
}

.selections .order-detail .title p {
  font-size: 2rem;
  margin: 1%;
}

.selections .total-price {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  font-size: 2rem;
}

.selections .outer-pay-total {
  margin: 2% auto;
  width: 70%;
}

.selections .outer-pay-total .pay-total {
  background-color: purple;
  width: 100%;
  border: none;
  font-size: 2rem;
  color: white;
  border-radius: 1rem;
  padding: 3%;
  cursor: pointer;
}
